<div className="container">
    <h1 class="d-flex justify-content-center mt-5">
        Welcome to myTodo app
    </h1>
    <h5 class="d-flex justify-content-center">
        This application is developed to enable users to effectively manage their daily tasks and be more productive.
    </h5>
    <div class="d-flex justify-content-center mt-3">
        <%= link_to 'My Todos', lists_path, class: "btn btn-primary  text-white btn-sm" %>
    </div>
</div>
